In [ ]:
from google.colab import auth
auth.authenticate_user()

# Install Google Cloud Storage client
# !pip install --upgrade google-cloud-storage

from google.cloud import storage

# Set your bucket name
BUCKET_NAME = 'wpac-bucket-1'

# Create a storage client
client = storage.Client()
bucket = client.bucket(BUCKET_NAME)

WARNING: google.colab.auth.authenticate_user() is not supported in Colab Enterprise.

In [ ]:
blobs = bucket.list_blobs()
for blob in blobs:
    print(blob.name)

WAP_site_resources.csv
WPA_all_time_connect.csv
WPA_pulse_survey.csv
WPA_site_jobs.csv

In [ ]:
FILE_NAME = 'WPA_site_jobs.csv'  # Change to your file path in GCS
blob = bucket.blob(FILE_NAME)
blob.download_to_filename('local-file.csv')  # Save as a local file
print(f'Downloaded {FILE_NAME} to local-file.csv')

Downloaded WPA_site_jobs.csv to local-file.csv

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [ ]:
jobs = pd.read_csv('local-file.csv')
jobs.head()

,data_jobId,career_area_name,region,company_name,createdAt,employment_type_name,expiredAt,industry_clean,isPartner,is_earn_and_learn,is_estimated_salary,is_gateway_job,zipcode,city,state_code,county,rural_type,max_salary,min_salary,min_years_experience,min_edulevel_name,remote_type_name,onet,onet_name,salary,title_name,updatedAt
0,2260a4f6076120bd78e1ad980cdacd720901793c,Sales,NaN,Dry Force,2024-03-19T09:03:56Z,Full-time (> 32 hours),2024-03-19T10:25:53Z,Business,False,False,False,True,NaN,NaN,NaN,NaN,NaN,90000.0,70000.0,2.0,High school or GED,In-Person,41-4012.00,"Sales Representatives, Wholesale and Manufactu...",80000.0,In Home Specialists,2024-03-19T10:25:53Z
1,3630ead4bf1a6cf8bcef7642e94aeacdbc3b2492,Sales,NaN,Dynatrace,2024-03-19T09:03:56Z,Full-time (> 32 hours),2024-03-19T10:25:53Z,Business,False,False,False,True,NaN,NaN,NaN,NaN,NaN,150000.0,120000.0,3.0,High school or GED,In-Person,41-4012.00,"Sales Representatives, Wholesale and Manufactu...",135000.0,Account Executives,2024-03-19T10:25:53Z
2,403254279b3a3519a9d6d1c188b552d285e799c8,Sales,NaN,Lillian Custom Homes,2024-03-19T09:03:56Z,Full-time (> 32 hours),2024-03-19T10:25:53Z,Business,False,False,False,True,NaN,NaN,NaN,NaN,NaN,50000.0,40000.0,2.0,High school or GED,In-Person,41-4012.00,"Sales Representatives, Wholesale and Manufactu...",45000.0,Online Sales Consultants,2024-03-19T10:25:53Z
3,c0220e2558ce8b0a130f2f0b2c961c8544cf305a,Sales,NaN,Victra,2024-03-19T09:03:56Z,Full-time (> 32 hours),2024-03-19T10:25:53Z,Business,False,False,False,True,NaN,NaN,NaN,NaN,NaN,58000.0,58000.0,NaN,High school or GED,In-Person,41-4012.00,"Sales Representatives, Wholesale and Manufactu...",58000.0,Sales Consultants,2024-03-19T10:25:53Z
4,1f6fdb60b36bf31e3c49a06578a700dbdeb718c6,Finance,NaN,Tektree,2024-03-19T09:03:58Z,Full-time (> 32 hours),2024-03-19T10:27:44Z,Business,False,False,False,True,NaN,NaN,NaN,NaN,NaN,55078.0,42286.0,1.0,High school or GED,In-Person,43-3031.00,"Bookkeeping, Accounting, and Auditing Clerks",48682.0,Accounts Receivable Specialists,2024-03-19T10:27:44Z

In [ ]:
print(jobs.nunique())
print(jobs.info())

data_jobId              470886
career_area_name            35
region                      29
company_name             62539
createdAt                 1564
employment_type_name         5
expiredAt                26141
industry_clean               6
isPartner                    2
is_earn_and_learn            2
is_estimated_salary          2
is_gateway_job               2
zipcode                      0
city                         0
state_code                   0
county                       0
rural_type                   0
max_salary               19821
min_salary               16894
min_years_experience        16
min_edulevel_name            4
remote_type_name             3
onet                       551
onet_name                  549
salary                   28158
title_name               23467
updatedAt                25913
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470886 entries, 0 to 470885
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   data_jobId            470886 non-null  object
 1   career_area_name      470150 non-null  object
 2   region                205129 non-null  object
 3   company_name          470873 non-null  object
 4   createdAt             470886 non-null  object
 5   employment_type_name  470886 non-null  object
 6   expiredAt             454896 non-null  object
 7   industry_clean        470886 non-null  object
 8   isPartner             470886 non-null  bool
 9   is_earn_and_learn     470886 non-null  bool
 10  is_estimated_salary   470886 non-null  bool
 11  is_gateway_job        470886 non-null  bool
 12  zipcode               0 non-null       float64
 13  city                  0 non-null       float64
 14  state_code            0 non-null       float64
 15  county                0 non-null       float64
 16  rural_type            0 non-null       float64
 17  max_salary            470820 non-null  float64
 18  min_salary            470820 non-null  float64
 19  min_years_experience  287702 non-null  float64
 20  min_edulevel_name     470886 non-null  object
 21  remote_type_name      470886 non-null  object
 22  onet                  470886 non-null  object
 23  onet_name             470807 non-null  object
 24  salary                470635 non-null  float64
 25  title_name            470873 non-null  object
 26  updatedAt             470886 non-null  object
dtypes: bool(4), float64(9), object(14)
memory usage: 84.4+ MB
None

In [ ]:
import numpy as np

# Convert 'nan' strings to actual NaN
jobs['min_years_experience'] = jobs['min_years_experience'].replace('nan', np.nan)

# Convert to float
jobs['min_years_experience'] = jobs['min_years_experience'].astype(float)

# Drop actual NaN values
jobs_clean = jobs['min_years_experience'].dropna()

# Calculate mode
if not jobs_clean.empty:
    mode_yrs_exp = jobs_clean.mode().iloc[0]
else:
    mode_yrs_exp = None  # Handle case where no valid mode exists

print(mode_yrs_exp)

1.0

<ipython-input-51-1ba2a2eba486>:4: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  jobs['min_years_experience'] = jobs['min_years_experience'].replace('nan', np.nan)

In [ ]:
jobs['min_years_experience'].fillna('0', inplace=True)

<ipython-input-53-ba8ca01976d8>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  jobs['min_years_experience'].fillna('0', inplace=True)

In [ ]:
#Dropping columns becuase too many null values or no values in table
jobs.drop(columns=['region', 'zipcode', 'city', 'state_code', 'county', 'rural_type'], axis=1, inplace=True)
jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470886 entries, 0 to 470885
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   data_jobId            470886 non-null  object
 1   career_area_name      470150 non-null  object
 2   company_name          470873 non-null  object
 3   createdAt             470886 non-null  object
 4   employment_type_name  470886 non-null  object
 5   expiredAt             454896 non-null  object
 6   industry_clean        470886 non-null  object
 7   isPartner             470886 non-null  bool
 8   is_earn_and_learn     470886 non-null  bool
 9   is_estimated_salary   470886 non-null  bool
 10  is_gateway_job        470886 non-null  bool
 11  max_salary            470820 non-null  float64
 12  min_salary            470820 non-null  float64
 13  min_years_experience  470886 non-null  float64
 14  min_edulevel_name     470886 non-null  object
 15  remote_type_name      470886 non-null  object
 16  onet                  470886 non-null  object
 17  onet_name             470807 non-null  object
 18  salary                470635 non-null  float64
 19  title_name            470873 non-null  object
 20  updatedAt             470886 non-null  object
dtypes: bool(4), float64(4), object(13)
memory usage: 62.9+ MB

In [ ]:
categories = ['career_area_name', 'company_name', 'employment_type_name', 'industry_clean', 'min_edulevel_name', 'remote_type_name']
numeric = ['max_salary', 'min_salary', 'min_years_experience', 'salary']
binary = ['isPartner', 'is_earn_and_learn', 'is_estimated_salary', 'is_gateway_job']
date_time = ['createdAt', 'expiredAt', 'updatedAt']

jobs[categories] = jobs[categories].astype('category')
jobs[binary] = jobs[binary].astype('int32')
jobs[numeric] = jobs[numeric].astype('float16')

for col in jobs[categories]:
    # print(f'Column: {col} has {jobs[col].nunique()} values')
    if jobs[col].nunique() < 40:
        print(f'{jobs[col].value_counts(dropna=False)}')
        print('='*110)

career_area_name
Sales                                          130548
Information Technology and Computer Science     59887
Healthcare                                      44562
Maintenance, Repair, and Installation           43609
Finance                                         41658
Transportation                                  20891
Business Management and Operations              20294
Customer and Client Support                     19139
Human Resources                                 18937
Construction, Extraction, and Architecture      14646
Law, Compliance, and Public Safety               9057
Engineering                                      8731
Unclassified Career Area                         7896
Clerical and Administrative                      7589
Manufacturing and Production                     6926
Health Care including Nursing                    4035
Design, Media, and Writing                       2546
Information Technology                           2510
Hospitality, Food, and Tourism                   1618
Education and Training                           1565
Community and Social Services                    1241
Marketing and Public Relations                   1037
NaN                                               736
Science and Research                              451
Agriculture, Horticulture, & the Outdoors         363
Social Analysis and Planning                      192
Personal Services                                 113
Performing Arts                                    66
Military                                           29
Customer And Client Support                         4
Not Employed                                        3
Business Management And Operations                  3
Marketing And Public Relations                      1
Law, Compliance, And Public Safety                  1
Construction, Extraction, And Architecture          1
Information Technology And Computer Science         1
Name: count, dtype: int64
==============================================================================================================
employment_type_name
Full-time (> 32 hours)    469034
Part-time (≤ 32 hours)       907
Part-time / full-time        866
Full Time                     66
Full-Time                     13
Name: count, dtype: int64
==============================================================================================================
industry_clean
Business                      234421
Technology                     64957
Skilled Trades                 58256
Healthcare                     48603
Other                          36832
Transportation & Logistics     27817
Name: count, dtype: int64
==============================================================================================================
min_edulevel_name
High school or GED     365274
No Education Listed    105580
Bachelor's degree          28
Associate degree            4
Name: count, dtype: int64
==============================================================================================================
remote_type_name
In-Person    324966
Remote       143347
Hybrid         2573
Name: count, dtype: int64
==============================================================================================================

/usr/local/lib/python3.10/dist-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
/usr/local/lib/python3.10/dist-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)

In [ ]:
jobs['employment_type_name'] = jobs['employment_type_name'].str.lower().replace(r'^full.*', 'full_time', regex=True)
jobs['employment_type_name'] = jobs['employment_type_name'].str.lower().replace(r'^part.*', 'part_time', regex=True)

print(jobs.employment_type_name.value_counts(dropna=False))

# jobs.info()

employment_type_name
full_time    469113
part_time      1773
Name: count, dtype: int64

In [ ]:
jobs.rename(columns={'employment_type_name':'isPartTime'}, inplace=True)

In [ ]:
jobs.columns

Index(['data_jobId', 'career_area_name', 'company_name', 'createdAt',
       'isPartTime', 'expiredAt', 'industry_clean', 'isPartner',
       'is_earn_and_learn', 'is_estimated_salary', 'is_gateway_job',
       'max_salary', 'min_salary', 'min_years_experience', 'min_edulevel_name',
       'remote_type_name', 'onet', 'onet_name', 'salary', 'title_name',
       'updatedAt'],
      dtype='object')

In [ ]:
jobs['isPartTime'] = jobs['isPartTime'].apply(lambda x: 1 if x == 'part_time' else 0)
print(jobs['isPartTime'].value_counts())

isPartTime
0    469113
1      1773
Name: count, dtype: int64

In [ ]:
new_education = ["No Education Listed", "High school or GED", "Associate degree", "Bachelor's degree"]
jobs['min_edulevel_name'] = jobs['min_edulevel_name'].astype('category')
jobs['min_edulevel_name'] = jobs['min_edulevel_name'].cat.reorder_categories(new_education, ordered=True)
print(jobs['min_edulevel_name'].value_counts(dropna=False).reindex(new_education, fill_value=0))

min_edulevel_name
No Education Listed    105580
High school or GED     365274
Associate degree            4
Bachelor's degree          28
Name: count, dtype: int64

In [ ]:
jobs.head()

,data_jobId,career_area_name,company_name,createdAt,isPartTime,expiredAt,industry_clean,isPartner,is_earn_and_learn,is_estimated_salary,is_gateway_job,max_salary,min_salary,min_years_experience,min_edulevel_name,remote_type_name,onet,onet_name,salary,title_name,updatedAt
0,2260a4f6076120bd78e1ad980cdacd720901793c,Sales,Dry Force,2024-03-19T09:03:56Z,0,2024-03-19T10:25:53Z,Business,0,0,0,1,inf,inf,2.0,High school or GED,In-Person,41-4012.00,"Sales Representatives, Wholesale and Manufactu...",inf,In Home Specialists,2024-03-19T10:25:53Z
1,3630ead4bf1a6cf8bcef7642e94aeacdbc3b2492,Sales,Dynatrace,2024-03-19T09:03:56Z,0,2024-03-19T10:25:53Z,Business,0,0,0,1,inf,inf,3.0,High school or GED,In-Person,41-4012.00,"Sales Representatives, Wholesale and Manufactu...",inf,Account Executives,2024-03-19T10:25:53Z
2,403254279b3a3519a9d6d1c188b552d285e799c8,Sales,Lillian Custom Homes,2024-03-19T09:03:56Z,0,2024-03-19T10:25:53Z,Business,0,0,0,1,49984.0,40000.0,2.0,High school or GED,In-Person,41-4012.00,"Sales Representatives, Wholesale and Manufactu...",44992.0,Online Sales Consultants,2024-03-19T10:25:53Z
3,c0220e2558ce8b0a130f2f0b2c961c8544cf305a,Sales,Victra,2024-03-19T09:03:56Z,0,2024-03-19T10:25:53Z,Business,0,0,0,1,57984.0,57984.0,1.0,High school or GED,In-Person,41-4012.00,"Sales Representatives, Wholesale and Manufactu...",57984.0,Sales Consultants,2024-03-19T10:25:53Z
4,1f6fdb60b36bf31e3c49a06578a700dbdeb718c6,Finance,Tektree,2024-03-19T09:03:58Z,0,2024-03-19T10:27:44Z,Business,0,0,0,1,55072.0,42272.0,1.0,High school or GED,In-Person,43-3031.00,"Bookkeeping, Accounting, and Auditing Clerks",48672.0,Accounts Receivable Specialists,2024-03-19T10:27:44Z

In [ ]:
jobs[date_time] = jobs[date_time].apply(pd.to_datetime)
print(jobs[date_time].dtypes)

createdAt    datetime64[ns, UTC]
expiredAt    datetime64[ns, UTC]
updatedAt    datetime64[ns, UTC]
dtype: object

In [ ]:
jobs.to_csv('cleaned_jobs.csv', index=False)

from google.colab import files
files.download('cleaned_jobs.csv')

In [ ]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470886 entries, 0 to 470885
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   data_jobId            470886 non-null  object
 1   career_area_name      470150 non-null  category
 2   company_name          470873 non-null  category
 3   createdAt             470886 non-null  datetime64[ns, UTC]
 4   isPartTime            470886 non-null  int64
 5   expiredAt             454896 non-null  datetime64[ns, UTC]
 6   industry_clean        470886 non-null  category
 7   isPartner             470886 non-null  int32
 8   is_earn_and_learn     470886 non-null  int32
 9   is_estimated_salary   470886 non-null  int32
 10  is_gateway_job        470886 non-null  int32
 11  max_salary            470820 non-null  float16
 12  min_salary            470820 non-null  float16
 13  min_years_experience  470886 non-null  float16
 14  min_edulevel_name     470886 non-null  category
 15  remote_type_name      470886 non-null  category
 16  onet                  470886 non-null  object
 17  onet_name             470807 non-null  object
 18  salary                470635 non-null  float16
 19  title_name            470873 non-null  object
 20  updatedAt             470886 non-null  datetime64[ns, UTC]
dtypes: category(5), datetime64[ns, UTC](3), float16(4), int32(4), int64(1), object(4)
memory usage: 45.6+ MB